@import "./../../assets/styles/variables";
@import "./../../assets/styles/flex";
@import "./../../assets/styles/grid";

.dashboard {
    position: relative;

    &__content {
        padding: $spacer;
        &__header {
            @include flex(column, center, space-between);
            margin-top: $spacer2x;
            text-align: center;
            gap: $spacer;
            .h2 {
                @include flex(row, center, flex-start);

                .btn {
                    font-size: $font-size-s;
                    padding-left: 0;
                }
            }
            span {
                color: $gray;
            }
            input {
                border: 0;
                background-color: $white;
                padding: $spacer;
                border-radius: $border-radius-m;
                width: 100%;

                &::placeholder {
                    color: $gray;
                    opacity: 0.5;
                }
            }
        }

        &__main {
            @include flex(column, center, center);
            padding: $spacer2x 0;
            gap: $spacer;
            .card {
                @include grid(.25fr 1fr, .25fr 1fr .25fr, "icon title" "icon sales" "icon subtitle");
                justify-items: start;
                column-gap: $spacer;
                min-height: max-content;
                animation: slideInDown 800ms ease-in-out;
                .icon {
                    @include flex(column, center, center);
                    grid-area: icon;
                    color: $blue;
                    background-color: $body-bg;
                    font-size: $font-size-m;
                    padding: $spacer;
                    border-radius: $border-radius-sm;
                    width: 100%;
                    height: 100%;
                }
                span {
                    color: $gray;
                    opacity: 0.5;
                    font-size: $font-size-default;

                    &:nth-child(1) {
                        grid-area: title;
                    }
                    &:nth-child(2) {
                        grid-area: subtitle;
                    }
                }
                .h2 {
                    grid-area: sales;
                }

                &:nth-child(1) {
                    grid-area: sales;
                }
                &:nth-child(2) {
                    grid-area: expense;
                }
            }
            .chart {
                padding: $spacer;
                background-color: $white;
                border-radius: $border-radius-m;
                grid-area: chart;
                width: 100%;
            }
        }
    }

    @media screen and (min-width: 769px) {
        margin-left: 16vw;
        padding: $spacer2x $spacer3x;

        &__content {
            &__header {
                flex-direction: row;
                margin-top: 0;
                text-align: start;
                gap: 0;
                input {
                    min-width: 450px;
                    width: max-content
                }
            }
            &__main {
                @include grid(repeat(2, 1fr), max-content 1fr, "sales expense" "chart chart");
                gap: $spacer3x;
            }
        }
    }
}
