@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY($spacer);
    } 100% {
        transform: translateY(0);
    }
}